/*============= vars==========*/
/*============= all==========*/
html, body {
  height: 100%;
  bottom: 0;
  border: 0;
  min-height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none; }

a {
  text-decoration: none;
  height: 100%;
  width: 100%; }

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after,
section::before,
section::after {
  content: " ";
  display: table; }

section::before,
section::after,
.row:after,
.clear:after {
  clear: both; }

/*=================header=====================*/
header {
  background-color: #f6f2f2;
  height: 687px;
  margin-bottom: 8%; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    header {
      text-align: center;
      height: auto; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    header {
      text-align: center;
      height: auto; } }

.myRow {
  margin: 0 auto;
  float: none; }

nav.navigation.navbar-inverse {
  height: 90px; }
  @media only screen and (max-width: 480px) {
    nav.navigation.navbar-inverse {
      height: auto; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    nav.navigation.navbar-inverse {
      height: auto; } }

.myRow > nav.navigation.navbar-inverse > #navbarCollapse {
  height: 100% !important; }

.navigation {
  margin: 29px 0 10% 0;
  background: rgba(0, 0, 0, 0.8); }

.navbar-toggle {
  margin: 0 auto;
  float: none; }

.top_menu {
  height: 100%;
  margin: 0 auto;
  float: none;
  padding: 0; }
  @media only screen and (max-width: 480px) {
    .top_menu {
      text-align: center; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .top_menu {
      text-align: center; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .top_menu {
      width: 45%; } }

.top_menu li {
  height: 100%; }
  @media only screen and (max-width: 480px) {
    .top_menu li {
      float: none; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .top_menu li {
      float: none; } }

.top_menu li a {
  font-family: 'Myriad Pro';
  text-transform: uppercase;
  font-size: 1.2em;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  border-radius: 0; }

.activ, .top_menu li:hover, .top_menu li:active, .top_menu li a:hover, .top_menu li a:active, .top_menu li:focus, .top_menu li a:focus {
  background-color: #ff3f40;
  border: none; }

.myRow {
  margin: 0 auto;
  float: none; }

.left_block {
  padding: 0;
  display: inline-block;
  width: 50%; }
  @media only screen and (max-width: 480px) {
    .left_block {
      display: block;
      width: 100%;
      margin-bottom: 30px; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .left_block {
      display: block;
      width: 100%;
      margin-bottom: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .left_block {
      display: block;
      width: 100%;
      margin-bottom: 30px; } }

.left_block h1 {
  font-family: 'Myriad Pro';
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: 800;
  margin: 0; }
  @media only screen and (max-width: 480px) {
    .left_block h1 {
      font-size: 2.5em;
      text-align: center; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .left_block h1 {
      font-size: 3.5em;
      text-align: center; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .left_block h1 {
      text-align: center; } }

.left_block p {
  font: 1.3em 'Myriad Pro';
  color: rgba(0, 0, 0, 0.7);
  text-align: justify;
  margin-bottom: 57px; }

.contact_us {
  width: 228px;
  height: 56px;
  font: 1.5em 'Myriad Pro';
  color: #fff;
  background-color: #ff2d2d;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .contact_us {
      margin: 0 auto; } }
  @media only screen and (max-width: 480px) {
    .contact_us {
      margin: 0 auto; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .contact_us {
      margin: 0 auto; } }

.right_block {
  padding: 0;
  position: relative;
  width: 47%;
  display: inline-block;
  float: right; }
  @media only screen and (max-width: 480px) {
    .right_block {
      display: block;
      width: 100%;
      float: none; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .right_block {
      display: block;
      width: 100%;
      float: none;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .right_block {
      display: block;
      width: 100%;
      float: none; } }

.player {
  width: 100%;
  height: 358px;
  position: relative;
  float: right;
  background: #c4c0b1;
  -webkit-box-shadow: -33px -26px 35px -17px #d5d2d2;
  -moz-box-shadow: -33px -26px 35px -17px #d5d2d2;
  box-shadow: -33px -26px 35px -17px #d5d2d2; }
  @media only screen and (max-width: 480px) {
    .player {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      float: none;
      height: 180px; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .player {
      width: 80%;
      margin: 0 auto;
      float: none;
      height: 250px;
      margin-bottom: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .player {
      width: 70%;
      max-width: 500px;
      margin: 0 auto;
      float: none;
      height: 300px;
      margin-bottom: 40px; } }

.player::before {
  content: "";
  background: url(../img/play.png) no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  opacity: 0.7;
  margin-top: -35px;
  left: 50%;
  margin-left: -6%; }
  @media only screen and (max-width: 480px) {
    .player::before {
      margin-left: -8%; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .player::before {
      margin-left: -8%; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .player::before {
      margin-left: -5%; } }

/*===============section one======================*/
.section_one {
  clear: both;
  float: left;
  border-bottom: #ececec 1px solid; }

.section_one .row {
  margin-bottom: 5%; }

.section_one > .myRow h2 {
  font-family: 'Myriad Pro';
  text-transform: uppercase;
  font-size: 3.5em; }
  @media only screen and (max-width: 480px) {
    .section_one > .myRow h2 {
      font: 2.5em 'Myriad Pro';
      text-align: center; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .section_one > .myRow h2 {
      font: 3.5em 'Myriad Pro';
      text-align: center; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .section_one > .myRow h2 {
      text-align: center; } }

.learn_more {
  width: 228px;
  height: 56px;
  font: 1.5em 'Myriad Pro';
  color: #ff2d2d;
  background-color: #fff;
  border: #ff2d2d 2px solid;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .learn_more {
      margin: 0 auto; } }
  @media only screen and (max-width: 480px) {
    .learn_more {
      margin: 0 auto; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .learn_more {
      margin: 0 auto; } }

.servise h4, .servise p {
  color: rgba(0, 0, 0, 0.7); }

.servise h4 {
  font-size: 2em; }

.servise p {
  font-size: 1.3em; }

/*===============section two======================*/
.section_two h3 {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: 'Myriad Pro';
  text-transform: uppercase;
  font-size: 3.5em;
  padding: 8% 0 4% 0; }

.section_two p {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 1.5em 'Myriad Pro';
  margin-bottom: 10%; }

.section_two p::after {
  content: "";
  width: 140px;
  height: 2px;
  background-color: #ff2d2d;
  margin: 2% auto;
  display: block; }

.middle_menu {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  float: none; }
  @media only screen and (max-width: 480px) {
    .middle_menu {
      display: block; } }

@media only screen and (max-width: 480px) {
  .middle_menu li {
    display: block;
    width: 100%;
    text-align: center; } }

.middle_menu li a {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Myriad Pro';
  text-transform: uppercase; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .middle_menu li a {
      font-size: 1.2em; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .middle_menu li a {
      font-size: 1.2em; } }

.middle_menu li:hover,
.middle_menu li:focus,
.middle_menu li:active {
  background-color: transparent; }

.middle_menu li a:hover,
.middle_menu li a:focus,
.middle_menu li a:active {
  color: #ff2d2d;
  background-color: transparent; }

.prodacts > .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .prodacts > .row {
      display: block; } }

.prodact {
  background-color: #f5f0dd;
  height: 250px;
  width: 230px; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .prodact {
      display: inline-block;
      width: 45%; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .prodact {
      height: 195px;
      width: 20%; } }

/*===============section three======================*/
.section_three {
  margin: 0 auto;
  float: none; }

.section_three h3, .section_five h3 {
  font-family: 'Myriad Pro';
  text-transform: uppercase;
  font-size: 3.5em;
  margin: 10% 0 2% 30px; }

@media only screen and (min-width: 768px) and (max-width: 1260px) {
  .section_three > .row.col-md-5, .section_five > .row.col-md-6 {
    width: 100%; } }

.section_three > .row.col-md-5 > p, .section_five > .row.col-md-6 > p {
  color: rgba(0, 0, 0, 0.7);
  margin: 10px 10px 10px 30px;
  text-align: justify; }

.section_three > .row > p::after, .section_five > .row > p::after {
  content: "";
  width: 140px;
  height: 2px;
  background-color: #ff2d2d;
  margin: 10px 0 70px 10px;
  display: block; }
  @media only screen and (max-width: 480px) {
    .section_three > .row > p::after, .section_five > .row > p::after {
      margin: 10px auto; } }

.group > .col-md-3 {
  height: 420px;
  background-color: #f5f0dd; }
  @media only screen and (max-width: 480px) {
    .group > .col-md-3 {
      width: 90%;
      margin: 0 auto 20px auto; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .group > .col-md-3 {
      width: 50%;
      margin: 0 auto 20px auto; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .group > .col-md-3 {
      width: 50%;
      margin: 0 auto 20px auto; } }

.group h5 {
  font-family: 'Myriad Pro';
  text-transform: uppercase;
  font-size: 3em; }

.social {
  margin-top: 50px; }

.social > p {
  display: inline-block;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.8);
  padding: 0; }

.groups {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }
  @media only screen and (max-width: 480px) {
    .groups {
      display: block; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .groups {
      display: block; } }

.groups .item {
  height: 187px;
  width: 166px;
  margin-top: 24px;
  background-color: #f5f0dd;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .groups .item {
      width: 70%;
      margin: 5px auto; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .groups .item {
      display: inline-block;
      width: 45%; } }
  @media only screen and (min-width: 768px) and (max-width: 1260px) {
    .groups .item {
      width: 23%; } }

.item:hover .hidden_block {
  display: block; }

.hidden_block {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  color: #fff;
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  font-family: 'Myriad Pro';
  text-transform: uppercase; }

/*===============section four======================*/
.section_four {
  background-color: #f5f0dd;
  margin-top: 10%; }

.section_four h3 {
  color: rgba(255, 255, 255, 0.8);
  margin: 10% auto 2% auto;
  font-size: 2.5em;
  float: none;
  text-align: center; }

.section_four p, .copir p {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto 5% auto;
  float: none;
  text-align: center;
  font-size: 1em; }

.form {
  margin: 0 auto;
  float: none;
  text-align: center; }

input[type="text"] {
  width: 45%;
  height: 50px;
  border: none;
  border-radius: 6px;
  margin: 0 5px 10% 0; }

input[type="submit"] {
  width: 200px;
  height: 50px;
  border: none;
  color: #fff;
  background: #ff2d2d;
  border-radius: 6px; }

/*===============section five======================*/
.section_five, .black_contact, .section_five > .row {
  padding: 0; }

.section_five > .row {
  margin: 0 0 5%; }

.form_message form {
  float: left; }

.form_message input, textarea {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  margin: 0 0 13px; }

.line input[type="text"]:last-child {
  float: right; }

.line input[type="text"]:first-child {
  float: left; }

textarea.input_ncolor {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 6px; }

.form_message input[type="submit"] {
  width: 100%;
  height: 50px;
  background: #ff2d2d; }

.black_contact {
  padding-top: 8%;
  background: #000000;
  line-height: 2.5;
  height: 380px;
  color: rgba(255, 255, 255, 0.8); }
  @media only screen and (max-width: 480px) {
    .black_contact {
      width: 100%;
      height: 30%; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .black_contact {
      width: 100%;
      height: 30%; } }

.block_contact h5 {
  font-family: 'Myriad Pro';
  text-transform: uppercase; }

/*===================footer====================*/
footer {
  background: #313030;
  height: 100px;
  clear: both; }

.foot_content {
  margin: 0 auto;
  float: none;
  padding-top: 3%; }

.copir, .icons {
  display: inline-block;
  width: 49%;
  opacity: 0.7;
  vertical-align: top; }
  @media only screen and (max-width: 480px) {
    .copir, .icons {
      width: 90%; } }

.copir p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  float: left; }

.icons img {
  display: inline-block;
  float: right;
  margin-right: 2px;
  width: 6%; }
  @media only screen and (max-width: 480px) {
    .icons img {
      float: none; } }

/*# sourceMappingURL=slyle.css.map */
